{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Blog - New Post {% endblock title %}
{% block content %}
<div class="container justify-content-center" style="width: 100%">
<div class="card">
    <div class="card-header">Add new post</div>
<div class="card-body">
{% if user.is_authenticated %}
<form action="" method="post">{% csrf_token %}
        {{form.media}}
        {{form|bootstrap|safe}}
        <button class="btn btn-dark" value="Edit">Edit</button>
</form>
</div>
</div>
</div>
<br>
{% endif %}
{% endblock content %}