{% extends 'base.html' %}
{% block title %} Blog - Detail {% endblock title %}
{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <div class="post-entry">
    <h2>{{object.title}}</h2>
    <p>{{object.content|safe}}</p>
    </div>
    {% if user.is_authenticated %}
    <div style="text-align:right;">
    <a class="btn btn-dark" href="{{object.get_absolute_url_update}}" role="button">Edit Post</a>
    <a class="btn btn-dark" href="{{object.get_absolute_url_delete}}" role="button">Delete Post</a>
    </div>
    {% endif %}
{% endblock content %}
